<mat-tab-group dynamicHeight="true">
    <mat-tab label="Posts">
        <div class="tab-item">
            <div class="container add-button">
                <button class="btn btn-primary" (click)="navigateToAddTodo()">Create new post</button>
            </div>
            <!-- Post table rework -->
            
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
                <!-- Id column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>
                        Id
                    </th>
                    <td mat-cell *matCellDef="let post">{{post.postId ? post.postId.substr(post.postId.length-5, 5) : "NaN"}}</td>
                </ng-container>
            
                <!-- Title column -->
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by title">
                        Title
                    </th>
                    <td mat-cell *matCellDef="let post">{{post.title}}</td>
                </ng-container>
            
                <!-- Author column -->
                <ng-container matColumnDef="author">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by author">
                        Author
                    </th>
                    <td mat-cell *matCellDef="let post">{{post.author}}</td>
                </ng-container>
            
                <!-- Contents column -->
                <ng-container matColumnDef="text">
                    <th mat-header-cell *matHeaderCellDef>
                        Contents
                    </th>
                    <td mat-cell *matCellDef="let post">{{post.text.substr(0,30)}}</td>
                </ng-container>
            
                <!-- Tag column -->
                <ng-container matColumnDef="tags">
                    <th mat-header-cell *matHeaderCellDef>
                        Tags
                    </th>
                    <td mat-cell *matCellDef="let post">
                        <mat-list *ngFor="let tag of post.tags">
                            <mat-list-item class="tag-list">{{tag}}</mat-list-item>
                        </mat-list>
                    </td>
                </ng-container>
            
                <!-- Is Pinned column -->
                <ng-container matColumnDef="isPinned">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by isPinned">
                        Is Pinned
                    </th>
                    <td mat-cell *matCellDef="let post">{{post.isPinned}}</td>
                </ng-container>
            
                <!-- Is Hidden column -->
                <ng-container matColumnDef="isHidden">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by isHidden">
                        Is Hidden
                    </th>
                    <td mat-cell *matCellDef="let post">{{post.isHidden}}</td>
                </ng-container>
            
                <!-- Publication Date column -->
                <ng-container matColumnDef="lastEditDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by lastEditDate">
                        Modification Date
                    </th>
                    <td mat-cell *matCellDef="let post">{{post.lastEditDate | date}}</td>
                </ng-container>
            
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                        Actions
                    </th>
                    <td mat-cell *matCellDef="let post">
                        <button class="btn btn-primary" type="button" (click)="navigateToPost(post.postId)">Edit</button>
                        <button class="btn btn-danger" type="button" (click)="deletePostRow(post.postId)">Delete</button>
                    </td>
                    
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            
            <!-- Posts Table -->
        </div>
    </mat-tab>
    <mat-tab label="Tags">
        <div class="tab-item">
            <!-- Tags table -->
            <div class="container">
                <table class="table table-striped">
                    <thead>
                        <th>Tag id</th>
                        <th>Tag Name</th>
                        <th>Tag description</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tag of tags">
                            <th scope="row">{{tag.tagId ? tag.tagId.substring(tag.tagId.length-5,5) : "NaN"}}</th>
                            <td>{{tag.name}}</td>
                            <td>{{tag.description}}</td>
                            <td><button class="btn btn-danger" (click)="deleteTag(tag.tagId)">Törlés</button></td>
                        </tr>
                        <tr>
                            <th>New</th>
                            <td><input class="form-control" type="text" name="tagName" maxlength="15" required="required" [(ngModel)]="newTag.name"></td>
                            <td><input class="form-control" type="text" name="tagDescription" maxlength="50" placeholder="If not clear, explain..." [(ngModel)]="newTag.description"></td>
                            <td><button class="btn btn-success" (click)="createNewTag()">Új tag létrehozása</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
