.body{
    text-align: center;
}

.image {
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-image: url(../../assets/main_page_image.png);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.table-row {
    background-color: #232930;
    opacity: 40%;
    color: #ffffff;
    border-collapse: collapse;
    border-spacing: 10px;
    width: 100%;
}

.table-row:hover {
    background-color: rgba(69,207,251,50);
}

.table-cell {
    padding: 50px;
    width: 500px;
}

.strip-button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

.table-center {
    text-align: center;
}

.post {
    width: 33%;
    height: 300px;
    padding: 5%;
    position: relative;
}