<div class="container" *ngIf="authService.isUserLoggedIn()">
    <mat-form-field appearance="fill">
        <mat-label class="text-muted">{{selectedTag}}</mat-label>
        <mat-select [(value)]="selectedTag">
            <mat-option *ngFor="let tag of tags" [value]="tag.name">
                {{tag.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-button (click)="saveFilter()"><mat-icon>save</mat-icon></button>
</div>
<br>

<mat-card class="container" *ngIf="pinnedExists || pinnedPost.title !== ''">
    <mat-card-header>
        <mat-label><h1>{{pinnedPost.title}}</h1></mat-label>
    </mat-card-header>
    <mat-card-content>
        <ngx-editor name="wysiwyg-text" [editor]="editor" [disabled]="!authService.isUserLoggedIn()" [(ngModel)]="pinnedPost.text" [value]="pinnedPost.text" ngDefaultControl></ngx-editor>
    </mat-card-content>
</mat-card>

<ng-container #postContainer>
</ng-container>