.body{
    text-align: center;
}

.image {
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-image: url(../../assets/main_page_image.png);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.pinned-post {
    height: 300px;
}