.file-input {
    display: none;
    position: absolute;
}

.contents {
    -webkit-columns: 2 450px;
    -moz-columns: 2 450px;
    columns: 2 450px;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
}