<div class="alert alert-warning" *ngIf="errorMessage">
    {{errorMessage}}
</div>

<h1>Welcome</h1>

<div class="container">
    Welcome to KolHok {{name}}. You can manage your todos <a routerLink="/todos">here</a>
</div>

<div class="container">
    Click here for custom message
    <button (click)="getWelcomeMessage()" class="btn btn-success">Get welcome</button>
    <button (click)="getWelcomeMessageWithVariable()" class="btn btn-success">Get welcome with name</button>
</div>

<div class="container" *ngIf="welcomeMessage">
    <h2>The message</h2>
    {{welcomeMessage}}
</div>