.centering {
    display: grid;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.padmarg {
    padding: 10px;
    margin: 20px;
}

.for-user {
    border: none;
    
}