.file-input {
    display: none;
    position: absolute;
}

mat-card {
    width: 450px;
    height: 400px;
    overflow: hidden;
    padding: .5em;
    background-color: ivory;
}

a, a:hover {
    text-decoration: none;
}